.orders {
    padding: 20px;
  }
  
  .orders h3 {
    margin-bottom: 20px;
  }
  
  .orders ul {
    list-style-type: none;
    padding: 0;
  }
  
  .orders ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  