/* styles.css */

 
  
  .products-page {
    width: 100%; /* Ensure the page takes the full width */
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add some padding */
    background-color: #f8f8f8; /* Example background color */
    width: 100%; /* Full width for the header */
  }
  
  .products-section {
    width: 100%; /* Ensure the section takes full width */
    padding: 20px; /* Add padding to the section */
  }
  
  .category-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
  }
  
  .category-title {
    text-align: center;
  }
  
 
  .category-heading-image {
    width: 20px;
    /* Adjust width as needed */
    max-width: 800px;
    /* Limit the max width */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 auto;
    /* Center the image */
    display: block;
    /* Ensure it behaves like a block element */
    object-fit: contain;
  }
 

  .category-header {
    margin-bottom: 20px;
    text-align: center;
  }
  