/* AdminHeader Styles */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Default styles for title and other elements */
.admin-header .app-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Blue background for seller */
.blue-header {
  background-color: rgba(0, 0, 255, 0.769);
}

/* Red background for other roles */
.red-header {
  background-color: red;
}

/* Search bar styles */
.admin-header .search-bar {
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: white; /* White background for search bar */
}

/* Search results */
.admin-header .search-results {
  position: absolute;
  z-index: 1000;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: auto;
}

/* Additional styles for search result items */
.search-result-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.search-result-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
