.sidebar {
    width: 250px;
    background-color: #2874f0;
    color: white;
    padding: 20px;
  }
  
  .sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  